services:
  api-gateway:
    container_name: api-gateway
    build:
      context: ../services/api-gateway
    ports:
      - "8010:8000"
    env_file:
      - ../.env
    networks:
      - ai-platform

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ../observability/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - ai-platform

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3001:3000"
    depends_on:
      - prometheus
    networks:
      - ai-platform

networks:
  ai-platform:
    driver: bridge
